<!-- Only used for tests that does not need Spring to run. In the application isetlf, the conmfiguration is get from the yml-->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%highlight(&lt;&lt;%-5level&gt;&gt;) %d{HH:mm:ss:SSS} [%thread]%X{userRequest} %magenta(%c{0}.%M) - %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="br.com.ame" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="eactor.netty.http.client" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>